* {
  margin: 0;
  padding: 0;
  user-select: none;
  box-sizing: border-box;
  font-family: "Prompt", sans-serif;
}

body {
  display: none;
  justify-content: end;
  align-items: center;

  padding-right: 2rem;

  width: 100vw;
  height: 100vh;
}

#app {
  gap: 0.62rem;
  display: flex;
  flex-direction: column;
}

#app header {
  width: 15.625rem;
  position: relative;
  display: flex;
  align-items: center;
  border-radius: 0.2rem;
}

#app header .bar {
  width: 15.625rem;
  height: 1.5rem;
  border-radius: 0.2rem;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.43) 0%,
    rgba(0, 0, 0, 0.75) 100%
  );
}

#app header .title {
  height: 2.5rem;
  padding: 0.1875rem 1.125rem;
  border-radius: 0.125rem;
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.15);
  background: linear-gradient(164deg, #e0ca03 -18.2%, #036d35 116.23%);

  color: #fff;
  font-size: 0.875rem;
  font-weight: 700;

  display: flex;
  align-items: center;
  justify-content: center;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

#app main {
  width: 15.625rem;
  border-radius: 0.125rem;
  background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.43) 0%,
      rgba(0, 0, 0, 0.75) 100%
    ),
    url('../assets/images/bandeira.png'); /* Add your image path here */
  background-size: cover;
  background-position: center;
  background-blend-mode: overlay; /* Ensures the gradient is on top of the image */

  padding: 1.2rem;

  gap: 0.75rem;
  display: flex;
  flex-direction: column;
}

#app main .info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#app main .info p {
  color: #fff;
  text-align: right;
  font-size: 0.75rem;
  font-weight: 500;
  text-transform: uppercase;
}

#app main .info .name {
  gap: 0.5rem;
  display: flex;
  align-items: center;
}

#app main .info .name p {
  color: rgba(255, 255, 255, 0.65);
  font-size: 0.75rem;
  font-weight: 400;
  text-transform: capitalize;
}

#app footer {
  gap: 0.62rem;
  display: flex;
  flex-direction: column;
}

#app footer .vip {
  width: 15.625rem;
  height: 2.375rem;
  border-radius: 0.125rem;
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.15);
  background: linear-gradient(164deg, #e0ca03 -18.2%, #036d35 116.23%);

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 1rem;
}

#app footer .vip h4 {
  color: #fff;
  font-size: 0.875rem;
  font-weight: 700;
}

#app footer .vip p {
  color: #fff;
  text-align: right;
  font-size: 0.875rem;
  font-weight: 500;
}
