*{margin: 0; padding: 0;}

body{
    font-family: 'Montserrat', sans-serif;
    /* background: url(https://media.discordapp.net/attachments/791569814090940456/904846881459421244/Camada_2.png?width=960&height=540);  */
    background-size: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}

#logo {
	font-family: 'Poppins', sans-serif;
	user-select: none;
}

.design{
	position:absolute;
	z-index: 2;
	width: 100px;
	height: 200px;
	background: url('https://media.discordapp.net/attachments/1331838715940704348/1338905652549914676/logo.png?ex=67acc88f&is=67ab770f&hm=8c011d237405bc137cec80d80a8a08f957271123ae144df5255df8e356ccfbe5&=&format=webp&quality=lossless'); background-size: 100px 100px; background-repeat: no-repeat;
	/*
	Coloque sua logo na pasta ui
	Altere o nome do arquivo da sualogo para "sualogo.png"
	Ela deve estar na proporção 1:1, ou seja, 150px por 150px, 512px por 512px...
	*/					
    filter: drop-shadow(0px 0px 2px #000000ce);

	top: 1%;
	right: 48.5%;
    /* width: 200px; */
	background-size: 100%;
	background-repeat: no-repeat;
	margin: 0 auto 0 auto;
	margin: auto;
	opacity: 0.60;
	animation: guitrotation 10s ease-out infinite;
}

@keyframes guitrotation {
	10%, 100% {
	  transform: rotateY(360deg);
	}
}	

#container{
    width: 350px;
    height: 100px;
    position: absolute;
    right: 0px;
    bottom: 70px;
    transform: scale(1);
}


#right{
	position: absolute;
    zoom: 1.05;
    right: -150px;
    bottom: 150px;
}

/* #top-left{
    width: 200px;
    height: 60px;

    display: flex;
    align-items: center;
    justify-content: flex-start;

    margin-left: 12px;
} */

.logo{
    width: 135px;
    float: left;
}


#fome{
    width: 80px;
    height: 30px;
    float: left;
    background: url(svgs/fome.svg);
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    align-items: center;
    justify-content: center;
}

#sede{
    width: 80px;
    height: 30px;
    float: left;
    background: url(svgs/sede.svg);
    background-repeat: no-repeat;
    background-position: center center;

    display: flex;
    align-items: center;
    justify-content: center;

}


#fome .span{
    position: relative;
    bottom: 1.5px;
    left: 9px;
    width: 30px;
    border-radius: 0 0 10px 0;
    height: 4.5px;
    display: block;
}

.span span{
    width: 40%;
    height: 100%;
    border-radius: 0 0 10px 0;
    display: block;
    background: #ffcd45;
}

#sede .span2{
    position: relative;
    bottom: 1.5px;
    left: 9px;
    width: 30px;
    border-radius: 0 0 10px 0;
    height: 4.5px;
    display: block;
}
.span2 span{
    width: 80%;
    height: 100%;
    border-radius: 0 0 10px 0;
    display: block;
    background: aqua;
}


#bottom-left{
    width: 200px;
    height: 40px;

    margin-left: 5px;
    transform: skew(-20deg);
}



#vida{
    width: 70%;
    height: 8px;

    float: left;
    background: #080405;

    border-radius: 10px 0 0 10px;
}

#colete{
    width: 30%;
    height: 8px;

    float: left;
    background: #080405;
    border-radius:0 10px 10px 0;

}
#vida span{
    width: 50%;
    height: 100%;
    display: block;
    background: #7EF671;
    border-radius: 10px 0 0 10px;
}
#colete span{
    width: 80%;
    height: 100%;
    display: block;
    background: #13B8F4;
    border-radius: 0 10px 10px 0;

}


#right{
    width: 200px;
    height: 150px;

    position: relative;
    top: 26px;
}

#km{
    width: 105px;
    filter: drop-shadow(0px 0px 1px #fdfdfd91);
    color: #fff;
    font-size: 12px;
    font-weight: 700;
    float: left;
    position: relative;
    top: 30px;
    right: 40px;
    text-shadow: 0px 0px 5px #00000080;
}

#km span{
    position: absolute;
    color: rgba(255, 255, 255, 0.527);
    font-size: 10px;
    right: -35px;
    bottom: 8px;
}


.quadrados{
    width: 20px;
    height: 35px;
    float: right;
    text-align: center;
    line-height: 30px;
    font-weight: 150;
    margin: 2px;
    font-size: 36px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff80;
}

.marcha{
    width: 25px;
    height: 25px;
    float: left;
    font-size: 20px;
    background: #080405a6;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    transform: rotate(45deg);

    margin-left: 15px;
    margin-top: 10px;

    position: relative;
    top: 20px;
}
.marcha span{
    color: #fff;
    
    transform: rotate(-45deg);
}

.gasolina{
    width: 30px;
    height: 100px;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    position: relative;
}

.bgGas{
    width: 9px;
    height: 60px;
    background: #08040593;

    position: relative;
    bottom: 12px;
    display: flex;
    align-items: flex-end;
}

.bgGas span{
    display: block;
    width: 100%;
    height: 38%;
    background: #ffdb17;
}

#infoGas{
    position: absolute;
    bottom: 11px;
    right: -12px;
    text-shadow: 0px 0px 5px #00000080;
}


.ldBar{
    zoom: 0.5;
    position: relative;
    bottom: 80px;
}

.ldBar-label{
    display: none;
}

#barVelocidade {
    filter: drop-shadow(0px 0px 2px #fdfdfd91);

}

#barIcons {
    filter: drop-shadow(0px 0px 2px #aaaaaa);
}

#icons2{
    width: 350px;
    height: 100px;
    position: absolute;
    right: 90px;
    bottom: -125px;
    transform: scale(0.3);
}

#bar1 {
    filter: drop-shadow(0px 0px 5px #000000);
}

#bar2 {
    filter: drop-shadow(0px 0px 5px #000000);
}

#bar3 {
    filter: drop-shadow(0px 0px 5px #000000);
}

#bar4 {
    filter: drop-shadow(0px 0px 5px #000000);
}


#barstress {
    filter: drop-shadow(0px 0px 5px #000000);
}

#velo{
    position: absolute;
    right: 100px;
    bottom: -180px;
    transform: scale(1);
}

#hudtotal{
    position: absolute;
    right: 0px;
    bottom: 120px;
    transform: scale(1);
}

#barvida{
    position: absolute;
    right: 437px;
    bottom: -145px;
    transform: scale(0.75);
}

#barshield{
    position: absolute;
    right: 490px;
    bottom: -145px;
    transform: scale(0.75);
}

#barfome{
    position: absolute;
    right: 535px;
    bottom: -145px;
    transform: scale(0.75);
}

#barsede{
    position: absolute;
    right: 588px;
    bottom: -145px;
    transform: scale(0.75);
}

#barstress2{
    position: absolute;
    right: 602px;
    bottom: -150px;
    transform: scale(0.40);
}

.icons{
    width: 80%;
    height: 35px;
    float: left;
    left: -12px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;

    background-image: url(svgs/icons.svg);
    background-size: 68%;
    background-repeat: no-repeat;

    position: relative;
    bottom: 16px;
    
}

.bol{
    position: relative;
    left: 1px;
    bottom: 2px;
    width: 5px;
    margin: 5.2px;
    height: 5px;
    background: rgb(255, 251, 0);
    border-radius: 10px;
}

#motor{
    margin-left: 12px;
}

#porta{
    margin-left: 16px;
}

#farol{
    margin-left: 18px;
}

#cinto{
    margin-left: 15px;
}

.on{
    background: #7EF671;
}

.on2{
    background: #71aff6;
}

.on3{
    background: #fdbcb3;
}

.off{
    background: #f67171;
}

.off2{
    background: #f6e971;
}

.off3{
    background: #2c2c2c;
}

.ativo{
    color: #fff;
}


#container2{
    width: 350px;
    height: 100px;
    position: absolute;
    left: 50px;
    bottom: -10px;

}

#mic img{
    width: 18px;
    position: absolute;
    left: 599px;
    top: 55px;
}

#proximity{
    filter: drop-shadow(0px 0px 5px #fafafa);
    width: 18px;
    position: absolute;
    left: -90px;
    bottom: 40px;
    transform: scale(0.8);

}

#proximity2{
    filter: drop-shadow(0px 0px 2px #fafafa9a);
    width: 18px;
    position: absolute;
    left: -30px;
    bottom: 17px;
    transform: scale(0.6);

}

#channel{
    position: absolute;
    left: 37px;
    bottom: 25px;
    font-size: 15px;
    float: left;
    text-align: left;
    font-family: 'Quicksand', sans-serif;
    color: #ffffff;
}


#container3{
    width: 350px;
    height: 100px;
    position: absolute;
    float: left;
    bottom: 75px;
    left: 0px;
    transform: scale(0.55);
}

#gps {
    filter: drop-shadow(0px 0px 2px #fafafa);
    left: 962px;
    transform: scale(0.08);
    bottom: -50px;
}

#rua {
    position: absolute;
    left: 200px;
    bottom: -147px;
    width: 500px;
}

#rua span {
    filter: drop-shadow(0px 0px 4px #0000009a); 
    font-family: 'Quicksand', sans-serif;
    font-size: 23px;
    color: #ffffff;

}

#saltyScreen {
    background: #191c1f;
    width: 450px;
    height: auto;
    letter-spacing: 2px;
    font-family: 'Poppins', sans-serif;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    text-align: center;
    margin-top: 25%;
    border-radius: 10px;
    text-transform: uppercase;
    padding: 20px;
    color: #f6f6f6;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 12px;
    text-shadow: 1px 1px #000000;
    font-weight: bold;
  }